In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
pd.set_option('max_columns', 50)
mpl.rcParams['lines.linewidth'] = 2

%matplotlib inline

In [9]:
df_bat.head()

,Unnamed: 0,datetime,game_basic_cash,game_basic_level,platform,sample_ratio,session_id,single_player_status_node_id,single_player_status_tries,single_player_status_type,user_id,version
0,1,2015-04-07,12,1,android,1,61949138,1.0,NaN,pve,2.000000e+00,9999999999
1,2,2015-04-19,12,1,android,1,2192785,1.0,NaN,pve,1.940917e+14,1504131647
2,3,2015-04-24,12,1,android,1,89103400,1.0,NaN,pve,6.785729e+17,1504201327
3,4,2015-04-24,13,2,android,1,89103400,2.0,NaN,pve,6.785729e+17,1504201327
4,5,2015-04-25,13,2,android,1,56945389,1.0,NaN,pve,6.785729e+17,1504201327

In [7]:
df_bat = pd.read_csv('sh_battles.csv')
df_ses = pd.read_csv('sh_session.csv')
df_user = pd.read_csv('sh_user.csv')

In [ ]:
df_

In [ ]:
df_new = pd.merge(df,df_user,on = 'user_id')