In [163]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime as dt
pd.set_option('max_columns', 50)
mpl.rcParams['lines.linewidth'] = 2

%matplotlib inline

In [2]:
df_bat = pd.read_csv('sh_battles.csv')
df_ses = pd.read_csv('sh_session.csv')
df_user = pd.read_csv('sh_user.csv')

C:\Program Files\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Program Files\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print df_bat.shape
print df_ses.shape
print df_user.shape

(397339, 12)
(148724, 40)
(17988, 54)

df_ses =sessio <br />
df_bat = battle<br />
df_user =user

In [4]:
df_ses = df_ses.drop('Unnamed: 0',1)
df_bat = df_bat.drop('Unnamed: 0',1)
df_user = df_user.drop('Unnamed: 0',1)

#dropping misrepresented users
to_drop = [1.0, 2.0]
df_ses = df_ses[~df_ses['user_id'].isin(to_drop)]

df_user = df_user[~df_user['user_id'].isin(to_drop)]

In [5]:
df_bat['datetime']=pd.to_datetime(df_bat['datetime'])
df_ses['datetime']=pd.to_datetime(df_ses['datetime'])

In [10]:
df_ses = pd.merge(df_ses,df_user[['register_source_android','last_global_device_id','register_os','register_device','register_version','register_ip_region','register_ip_city','user_id','revenues_1d','revenues_2d','funnel_5min','funnel_1hour','funnel_1d']],on='user_id')

In [144]:
df_ses=df_ses.drop(['register_device','last_global_device_id','register_source_android','funnel_1d_y','revenues_2w','revenues_1d','revenues_2d'],axis=1)

In [ ]:
# column 13 -client_mobile_os has 132 na ---**drop na**
# column 14 - has 132 na --**drop na**
# column 15 -has 132 na ---**drop na**
# column 16 -has 132 na ---**drop na**
# column 17 -has 6916 na ---- **impute with -99999**
# column 24,25,26,27,28,29,30,31,32,33,34,35,36,37,38 -has 673 na ----- **Drop NA's**
# column 39 -has 77467 nas ---DROP
# column 40 -has 8906 na -- DROP
# column 41 -has 463 na -- DROP  ---duplicate of client_mobile_device
# column 42 -has 463 na -- DROP  ---duplicate of client_mobile_device
# column 46 -has 115678 nas ----DROP
# column 47 -has 115678 nas ----DROP
# column 48 -has 4969 nas ------ **Replace na with mean value**
# column 49 -has 3476 nas ------ **Replace na with mean value**
# column 50 -has 2972 nas ------ **Replace na with mean value**
# column 51 -has 115678 nas -----DROP
# column 52 -has 2972 naS---- DROP --duplicate funnel_1d

In [153]:
df_ses.fillna(value=-99999999999,axis=1,inplace=True)

In [156]:
def cohort_period(df_ses):
    """
    Creates a `CohortPeriod` column, which is the Nth period based on the user's first purchase.
    
    Example
    -------
    Say you want to get the 3rd day for every user:
        df_ses.sort(['user_id', 'OrderTime', inplace=True)
        df_ses = df_ses.groupby('user_id').apply(cohort_period)
        df_ses[df_ses.CohortPeriod == 3]
    """
    df_ses['Cohort_period'] = np.arange(len(df_ses['datetime'])) + 1
    return df_ses

In [158]:
df_ses_new = df_ses.groupby(df_ses['user_id']).apply(cohort_period)

In [166]:
df_ses_new['year'] = df_ses_new['datetime'].dt.year
df_ses_new['month'] = df_ses_new['datetime'].dt.month
df_ses_new['day'] = df_ses_new['datetime'].dt.day

In [168]:
df_ses_new = df_ses_new.drop('datetime',1)

In [172]:
df_save = df_ses_new.to_csv('retention.csv',index=None)

In [171]:
df_ses_new =pd.get_dummies(df_ses_new['platform'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124899 entries, 132 to 125030
Data columns (total 49 columns):
user_id                         124899 non-null float64
session_id                      124899 non-null float64
platform                        124899 non-null object
version                         124899 non-null int64
sample_ratio                    124899 non-null int64
ip_ip                           124899 non-null object
ip_country                      124899 non-null object
ip_region                       124899 non-null object
ip_city                         124899 non-null object
ip_lat                          124899 non-null float64
ip_lon                          124899 non-null float64
ip_timezone                     124899 non-null object
client_mobile_os                124899 non-null object
client_mobile_device            124899 non-null object
client_mobile_language          124899 non-null object
client_mobile_uid               124899 non-null object
client_mobile_device_aid        124899 non-null object
game_basic_level                124899 non-null int64
game_basic_cash                 124899 non-null int64
game_resources_gold             124899 non-null float64
game_resources_food             124899 non-null int64
game_resources_xp               124899 non-null int64
game_resources_stamina          124899 non-null int64
game_resources_de               124899 non-null float64
game_resources_ev               124899 non-null float64
game_resources_fe               124899 non-null float64
game_resources_friend_points    124899 non-null float64
game_resources_le               124899 non-null float64
game_resources_ne               124899 non-null float64
game_resources_rde              124899 non-null float64
game_resources_re               124899 non-null float64
game_resources_rfe              124899 non-null float64
game_resources_rle              124899 non-null float64
game_resources_rne              124899 non-null float64
game_resources_rwe              124899 non-null float64
game_resources_ssre             124899 non-null float64
game_resources_sre              124899 non-null float64
game_resources_we               124899 non-null float64
register_os                     124899 non-null object
register_version                124899 non-null int64
register_ip_region              124899 non-null object
register_ip_city                124899 non-null object
funnel_5min                     124899 non-null float64
funnel_1hour                    124899 non-null float64
funnel_1d_x                     124899 non-null float64
Cohort_period                   124899 non-null int32
year                            124899 non-null int64
month                           124899 non-null int64
day                             124899 non-null int64
dtypes: float64(23), int32(1), int64(11), object(14)
memory usage: 47.2+ MB

In [169]:
df_ses_new.describe(include='all')

,user_id,session_id,platform,version,sample_ratio,ip_ip,ip_country,ip_region,ip_city,ip_lat,ip_lon,ip_timezone,client_mobile_os,client_mobile_device,client_mobile_language,client_mobile_uid,client_mobile_device_aid,game_basic_level,game_basic_cash,game_resources_gold,game_resources_food,game_resources_xp,game_resources_stamina,game_resources_de,game_resources_ev,game_resources_fe,game_resources_friend_points,game_resources_le,game_resources_ne,game_resources_rde,game_resources_re,game_resources_rfe,game_resources_rle,game_resources_rne,game_resources_rwe,game_resources_ssre,game_resources_sre,game_resources_we,register_os,register_version,register_ip_region,register_ip_city,funnel_5min,funnel_1hour,funnel_1d_x,Cohort_period,year,month,day
count,1.248990e+05,1.248990e+05,124899,1.248990e+05,124899.0,124899,124899,124899,124899,124899.000000,124899.000000,124899,124899,124899,124899,124899,124899,124899.000000,124899.000000,1.248990e+05,1.248990e+05,1.248990e+05,124899.000000,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,1.248990e+05,124899,1.248990e+05,124899,124899,1.248990e+05,1.248990e+05,1.248990e+05,124899.000000,124899.000000,124899.000000,124899.000000
unique,NaN,NaN,2,NaN,NaN,24797,155,782,1763,NaN,NaN,29,28,1679,57,12796,7488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN,724,1535,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,android,NaN,NaN,221.189.28.116,JP,Tokyo,Tokyo,NaN,NaN,+09:00,4.4.2,None,ja,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.4.2,NaN,Tokyo,Tokyo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,124780,NaN,NaN,1381,87839,46046,28210,NaN,NaN,87983,41190,29667,76702,29667,29667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38268,NaN,44875,31164,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.069190e+18,2.192984e+15,NaN,8.021268e+11,1.0,NaN,NaN,NaN,NaN,32.344651,112.028148,NaN,NaN,NaN,NaN,NaN,NaN,10.740598,73.123083,1.952250e+05,6.582192e+05,1.497716e+05,17.725706,-4.980024e+08,-4.980023e+08,-4.980024e+08,-4.980023e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,-4.980024e+08,NaN,1.452437e+09,NaN,NaN,-3.957594e+09,-2.763028e+09,-2.359502e+09,67.514392,2014.996813,4.712528,14.405736
std,7.144235e+16,8.166555e+16,NaN,2.829570e+14,0.0,NaN,NaN,NaN,NaN,8.630748,52.632081,NaN,NaN,NaN,NaN,NaN,NaN,9.464509,341.362816,1.306661e+07,2.630514e+06,1.008073e+07,15.221548,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,7.039363e+09,NaN,2.753808e+08,NaN,NaN,1.949616e+10,1.639119e+10,1.517845e+10,163.594635,0.056360,0.804882,7.088446
min,1.234500e+04,4.210000e+02,NaN,0.000000e+00,1.0,NaN,NaN,NaN,NaN,-37.850000,-157.858000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,-6.193795e+08,0.000000e+00,0.000000e+00,0.000000,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,-1.000000e+11,NaN,0.000000e+00,NaN,NaN,-1.000000e+11,-1.000000e+11,-1.000000e+11,1.000000,2014.000000,1.000000,1.000000
25%,3.068037e+18,2.510968e+07,NaN,1.504072e+09,1.0,NaN,NaN,NaN,NaN,33.340600,114.158000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,12.000000,6.050000e+03,4.200000e+02,1.620000e+03,9.000000,0.000000e+00,1.000000e+01,0.000000e+00,9.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.504072e+09,NaN,NaN,2.080000e+03,5.002000e+03,5.004000e+03,3.000000,2015.000000,4.000000,9.000000
50%,3.073220e+18,4.986946e+07,NaN,1.505082e+09,1.0,NaN,NaN,NaN,NaN,35.666300,138.383000,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,42.000000,3.771400e+04,1.075000e+04,1.569400e+04,15.000000,0.000000e+00,2.300000e+01,0.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.505072e+09,NaN,NaN,2.113000e+03,5.004000e+03,5.007000e+03,17.000000,2015.000000,5.000000,13.000000
75%,3.073542e+18,7.519122e+07,NaN,1.505082e+09,1.0,NaN,NaN,NaN,NaN,35.689500,139.692000,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,83.000000,2.193170e+05,2.410960e+05,5.406750e+04,22.000000,3.000000e+00,1.010000e+02,3.000000e+00,4.300000e+01,2.000000e+00,2.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,NaN,1.505082e+09,NaN,NaN,5.002000e+03,5.005000e+03,5.009000e+03,62.000000,2015.000000,5.000000,19.000000
max,4.538835e+18,3.044482e+18,NaN,1.000000e+17,1.0,NaN,NaN,NaN,NaN,64.183500,176.167000,NaN,NaN,NaN,NaN,NaN,NaN,51.000000,70006.000000,8.040689e+07,6.104826e+07,2.484951e+09,321.000000,2.000000e+02,1.923000e+03,2.480000e+02,2.647000e+03,2.000000e+02,2.000000e+02,2.000000e+02,5.320000e+02,3.220000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,NaN,1.512000e+09,NaN,NaN,5.025000e+03,5.025000e+03,5.025000e+03,1796.000000,2015.000000,12.000000,31.000000

In [154]:
%timeit 
df_ses.iloc[:,[45]].isnull().values.sum()

0

In [33]:
df_ses = pd.merge(df_ses,df_user[['user_id','revenues_2w','funnel_1d']],on='user_id')

In [147]:
df_ses.head()

,user_id,session_id,datetime,platform,version,sample_ratio,ip_ip,ip_country,ip_region,ip_city,ip_lat,ip_lon,ip_timezone,client_mobile_os,client_mobile_device,client_mobile_language,client_mobile_uid,client_mobile_device_aid,game_basic_level,game_basic_cash,game_resources_gold,game_resources_food,game_resources_xp,game_resources_stamina,game_resources_de,game_resources_ev,game_resources_fe,game_resources_friend_points,game_resources_le,game_resources_ne,game_resources_rde,game_resources_re,game_resources_rfe,game_resources_rle,game_resources_rne,game_resources_rwe,game_resources_ssre,game_resources_sre,game_resources_we,register_os,register_version,register_ip_region,register_ip_city,funnel_5min,funnel_1hour,funnel_1d_x
132,3.064674e+18,43528293.0,2015-03-25,android,0,1,118.200.48.12,SG,Singapore,Singapore,1.28967,103.85,+08:00,None,None,None,None,None,2,33,6050.0,420,340,11,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0,Singapore,Singapore,5002.0,5002.0,5002.0
133,3.064674e+18,43528293.0,2015-03-25,android,0,1,118.200.48.12,SG,Singapore,Singapore,1.28967,103.85,+08:00,None,None,None,None,None,2,33,6050.0,420,340,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0,Singapore,Singapore,5002.0,5002.0,5002.0
134,3.064674e+18,43528293.0,2015-03-25,android,0,1,118.200.48.12,SG,Singapore,Singapore,1.28967,103.85,+08:00,None,None,None,None,None,3,62,6281.0,691,1252,12,0.0,10.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0,Singapore,Singapore,5002.0,5002.0,5002.0
135,3.064674e+18,58446297.0,2015-03-26,android,0,1,118.200.48.12,SG,Singapore,Singapore,1.28967,103.85,+08:00,None,None,None,None,None,3,62,6281.0,691,1252,12,0.0,10.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0,Singapore,Singapore,5002.0,5002.0,5002.0
136,3.064674e+18,41779711.0,2015-03-26,android,0,1,118.200.48.12,SG,Singapore,Singapore,1.28967,103.85,+08:00,None,None,None,None,None,3,62,6281.0,691,1252,12,0.0,10.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0,Singapore,Singapore,5002.0,5002.0,5002.0

In [45]:
len((df_bat['user_id']))

397339

In [58]:
len(set(df_ses['session_id']))

68322

In [15]:
df_new = pd.merge(df_ses,df_user,on = 'user_id')

In [57]:
len(set(df_ses['client_mobile_uid'])),len(set(df_ses['user_id']))

(12812, 17916)

In [37]:
len(set(df_user['last_session_id']))

17984

In [35]:
df_user[df_user['user_id']==3.0732145037735363e+18]

,user_id,last_session_id,date_register,date_register_android,date_last_logged,platform_last_logged,date_last_logged_android,register_platform,register_ip_ip,register_ip_country,register_ip_lat,register_ip_lon,register_ip_timezone,game_current_level,game_current_cash,game_current_gold,game_current_food,game_current_xp,game_current_stamina,revenues_dollars_net,revenues_dollars_gross,revenues_num_transactions,revenues_date_first_transaction,revenues_date_first_transaction_android,revenues_1d,...,revenues_2w,revenues_4w,revenues_8w,revenues_12w,revenues_16w,funnel_last_update,funnel_current,funnel_5min,funnel_1hour,funnel_1d,user_category,register_ip_region,register_ip_city,revenues_date_first_transaction_woe,revenues_incremental_fields_last_update,register_os,register_device,register_version,register_mobile_uid,register_mobile_device_aid,client_mobile_device_aid,last_global_device_id,register_device_android,register_source,register_source_android
10992,3.073215e+18,54280101.0,2015-05-08,2015-05-08,2015-05-10,android,2015-05-10,android,126.203.246.140,JP,35.6895,139.692,+09:00,4.0,92.0,5725.0,1689.0,1750.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-05-08,5004.0,5002.0,5004.0,5004.0,player,Tokyo,Tokyo,NaN,NaN,4.1.1,Sony Corporation WALKMAN,1505072029,14310770222599,NaN,28a451fc-f372-4d10-9465-13814577334c,28a451fc-f372-4d10-9465-13814577334c,Sony Corporation WALKMAN,game gift,game gift
11657,3.073215e+18,50664998.0,2015-05-08,2015-05-08,2015-05-08,android,2015-05-08,android,125.203.44.43,JP,35.6895,139.692,+09:00,6.0,33.0,11310.0,3926.0,6060.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-05-08,5006.0,5002.0,5004.0,5006.0,player,Tokyo,Tokyo,NaN,NaN,4.2.2,SHARP SHL22,1505072027,14310770219747,NaN,5766f9ee-7c53-4003-b0b0-2a8b2db211e2,5766f9ee-7c53-4003-b0b0-2a8b2db211e2,SHARP SHL22,game gift,game gift

In [28]:
import collections
collections.Counter(df_user['user_id'])

True

In [29]:
def valCount(lst):
    res = {}
    for v in lst:
        try:
            res[v] += 1
        except KeyError:
            res[v] = 1
    return res
lst = df_user['user_id']
u = [ x for x,y in valCount(lst).iteritems() if y > 1 ]

In [30]:
u

[3.0732143147949752e+18,
 3.0732217536783319e+18,
 3.0677491321195725e+18,
 3.0732145037735363e+18,
 3.0732381432735334e+18,
 3.0739893158737347e+18,
 3.0732153369971917e+18,
 3.0732125968080568e+18,
 3.0680862784623739e+18,
 3.0732393716341801e+18,
 3.0682328914659896e+18,
 3.0682372122030899e+18,
 3.0676754562505769e+18,
 3.0738129816964301e+18,
 3.0676793303110779e+18,
 3.0651502645886321e+18,
 3.0732152682777144e+18,
 3.0738057232016998e+18,
 3.0732136791398154e+18,
 3.0738371451824374e+18,
 3.0679838950319718e+18,
 3.0732234029457736e+18,
 3.0732259283865441e+18,
 3.0687666614116024e+18,
 3.0732131981034783e+18,
 3.0732140227371991e+18,
 3.0732194515758602e+18,
 3.0732152854575841e+18,
 3.0732184207837107e+18,
 3.067993610248e+18,
 3.0732209032748073e+18,
 3.0732213843111444e+18,
 3.0732211695627802e+18,
 3.0732245196372705e+18,
 3.0732276206036582e+18,
 3.0732300515551483e+18,
 3.0688620784050504e+18,
 3.073232310707945e+18,
 3.0732348533285847e+18,
 3.0738221385667046e+18,
 3.0732374818485699e+18,
 3.0732504870095416e+18,
 3.0732272426465357e+18,
 3.0732251123427574e+18,
 3.0732132840028237e+18,
 3.0674612834113946e+18,
 3.0738156445761536e+18,
 3.0732539315733135e+18,
 3.0732555464810168e+18,
 3.0738014368243384e+18,
 3.0732164966383616e+18,
 3.0732134815713203e+18,
 3.0634205524095135e+18,
 3.0737886807714693e+18,
 3.0732124593691034e+18,
 3.0732153971267333e+18,
 3.0738260555768791e+18,
 3.0675082531737441e+18,
 3.0732309534982799e+18,
 3.0732356436025672e+18,
 3.0732135674706657e+18,
 3.0732310222177567e+18,
 3.0732140313271337e+18]

In [52]:
df_ses

,user_id,session_id,datetime,platform,version,sample_ratio,ip_ip,ip_country,ip_region,ip_city,ip_lat,ip_lon,ip_timezone,client_mobile_os,client_mobile_device,client_mobile_language,client_mobile_uid,client_mobile_device_aid,game_basic_level,game_basic_cash,game_resources_gold,game_resources_food,game_resources_xp,game_resources_stamina,game_resources_de,game_resources_ev,game_resources_fe,game_resources_friend_points,game_resources_le,game_resources_ne,game_resources_rde,game_resources_re,game_resources_rfe,game_resources_rle,game_resources_rne,game_resources_rwe,game_resources_ssre,game_resources_sre,game_resources_we
0,3.043009e+18,3.043009e+18,2014-11-26,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.043009e+18,3.043009e+18,2014-11-26,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,2,10005,1002750.0,1000010,275,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.043009e+18,3.043009e+18,2014-11-26,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,3,9926,998400.0,1000070,1075,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.043009e+18,3.043009e+18,2014-11-26,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,7,9371,605526.0,1000120,8675,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.043009e+18,3.043009e+18,2014-11-26,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,7,9371,605526.0,1000120,8675,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3.043006e+18,3.043006e+18,2014-11-26,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3.043021e+18,3.043021e+18,2014-11-26,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3.043033e+18,3.043033e+18,2014-11-26,android,0,1,104.135.7.24,-,-,-,0.0000,0.00000,-,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.043161e+18,3.043161e+18,2014-11-27,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3.043168e+18,3.043168e+18,2014-11-27,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3.043172e+18,3.043172e+18,2014-11-27,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3.043180e+18,3.043180e+18,2014-11-27,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3.043180e+18,3.043180e+18,2014-11-27,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3.043201e+18,3.043201e+18,2014-11-27,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3.043201e+18,3.043201e+18,2014-11-27,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3.043225e+18,3.043225e+18,2014-11-27,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3.043349e+18,3.043349e+18,2014-11-28,android,0,1,195.235.52.78,ES,ISLAS BALEARES,PALMA,39.5694,2.65024,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3.043349e+18,3.043349e+18,2014-11-28,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3.043391e+18,3.043391e+18,2014-11-28,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3.043394e+18,3.043394e+18,2014-11-28,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3.043408e+18,3.043408e+18,2014-11-28,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3.043423e+18,3.043423e+18,2014-11-28,android,0,1,219.24.38.195,JP,OKINAWA,NAHA,26.2122,127.67900,+09:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3.043452e+18,3.043452e+18,2014-11-28,android,0,1,126.48.254.68,JP,TOKYO,TOKYO,35.6895,139.69200,+09:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3.043891e+18,3.043891e+18,2014-12-01,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3.044096e+18,3.044096e+18,2014-12-02,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3.044121e+18,3.044121e+18,2014-12-02,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3.044124e+18,3.044124e+18,2014-12-02,android,0,1,84.124.127.14,ES,MADRID,MADRID,40.4165,-3.70256,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3.044155e+18,3.044155e+18,2014-12-02,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,3.044284e+18,3.044284e+18,2014-12-03,android,0,1,62.97.102.90,ES,CATALONIA,BARCELONA,41.3888,2.15899,+02:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3.044463e+18,3.044463e+18,2014-12-04,android,0,1,199.38.234.229,JP,TOKYO,TOKYO,35.6895,139.69200,+09:00,NaN,NaN,NaN,NaN,NaN,1,5,3000.0,140,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148694,3.078385e+18,3.043444e+07,2015-06-22,android,1505081744,1,126.186.213.78,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,4.2.2,SHARP SBM302SH,ja,14344190104966,bceddec3-e8e7-404a-8aff-0c4a7ee657f2,10,114,104261.0,83351,24707,39,6.0,57.0,2.0,41.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0
148695,3.074897e+18,4.861309e+07,2015-06-22,android,1505081744,1,182.250.243.34,JP,Chiba,Kamogawa,35.1140,140.09900,+09:00,4.4.2,KYOCERA KYY23,ja,14348419415487,20e0b147-fc49-4e9a-990f-271ff500606e,33,203,13342415.0,7628648,306892,42,50.0,403.0,45.0,40.0,55.0,49.0,4.0,30.0,1.0,1.0,2.0,0.0,0.0,2.0,51.0
148696,3.081562e+18,5.719383e+07,2015-06-22,android,1505081743,1,183.181.213.74,JP,Osaka,Osaka,34.6939,135.50200,+09:00,4.1.2,HUAWEI dtab01,ja,14349639275196,8a321e13-eb34-4295-a3a1-f2c1417d0528,1,12,6050.0,420,270,4,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148697,3.074897e+18,4.861309e+07,2015-06-22,android,1505081744,1,182.250.243.34,JP,Chiba,Kamogawa,35.1140,140.09900,+09:00,4.4.2,KYOCERA KYY23,ja,14348419415487,20e0b147-fc49-4e9a-990f-271ff500606e,33,203,13342535.0,7628818,307192,26,51.0,403.0,45.0,40.0,55.0,49.0,4.0,30.0,1.0,1.0,2.0,0.0,0.0,3.0,51.0
148698,3.081236e+18,9.809150e+07,2015-06-22,android,1505081744,1,112.69.68.231,JP,Hyogo,Kobe,34.6900,135.19600,+09:00,4.4.2,samsung SCL23,ja,14348125180235,49450056-d0fe-4475-bc21-a46753810497,2,33,6410.0,1322,410,11,0.0,6.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148699,3.073213e+18,3.969208e+07,2015-06-22,android,1505081744,1,182.250.253.39,JP,Hyogo,Sanda,34.8830,135.23300,+09:00,4.4.2,LGE LGL24,ja,14310765310818,f422ff0c-671f-4fc2-9f1f-7efbe4a1b324,36,65,8699998.0,13256882,384070,45,64.0,846.0,67.0,774.0,62.0,60.0,3.0,7.0,2.0,2.0,3.0,2.0,0.0,1.0,61.0
148700,3.065945e+18,5.647511e+07,2015-06-22,android,1505081744,1,113.43.96.34,JP,Tokyo,Shibuya-ku,35.6640,139.69800,+09:00,4.4.4,Sony SOL26,ja,14316978255041,bc3251fe-9756-4723-908b-34f4fcd0f032,50,351,76909246.0,61048255,1048112,49,105.0,444.0,156.0,884.0,84.0,94.0,4.0,28.0,70.0,12.0,7.0,6.0,3.0,3.0,74.0
148701,3.074897e+18,4.861309e+07,2015-06-22,android,1505081744,1,182.250.243.34,JP,Chiba,Kamogawa,35.1140,140.09900,+09:00,4.4.2,KYOCERA KYY23,ja,14348419415487,20e0b147-fc49-4e9a-990f-271ff500606e,33,203,13588348.0,7761863,307432,37,52.0,403.0,45.0,88.0,55.0,49.0,4.0,30.0,1.0,1.0,2.0,0.0,0.0,3.0,51.0
148702,3.073220e+18,7.964890e+07,2015-06-22,android,1505081744,1,49.106.206.116,JP,Tokyo,Tachikawa,35.6830,139.41700,+09:00,4.4.2,Sony SO-02F,ja,14310795815547,83591794-58ee-4359-ad4a-51713e43e10c,35,222,8950336.0,16566727,354848,57,14.0,329.0,20.0,66.0,24.0,36.0,5.0,95.0,2.0,4.0,7.0,2.0,0.0,1.0,27.0
148703,3.074897e+18,4.861309e+07,2015-06-22,android,1505081744,1,182.250.243.34,JP,Chiba,Kamogawa,35.1140,140.09900,+09:00,4.4.2,KYOCERA KYY23,ja,14348419415487,20e0b147-fc49-4e9a-990f-271ff500606e,33,203,13614282.0,7796147,308010,27,52.0,406.0,45.0,89.0,55.0,49.0,4.0,30.0,1.0,1.0,2.0,0.0,0.0,3.0,51.0
148704,3.079558e+18,9.497038e+07,2015-06-22,android,1505081744,1,221.253.59.155,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,4.4.4,KYOCERA KYV31,ja,14340308273694,5eacbe4e-2299-45c2-be33-2df535e20d26,7,151,81710.0,17480,8661,26,4.0,19.0,3.0,56.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148705,3.081572e+18,7.018264e+07,2015-06-22,android,1505081744,1,153.218.224.59,JP,Kanagawa,Yokohama,35.4442,139.63800,+09:00,4.4.4,Sony SO-01G,ja,14349688813869,e46f7e7f-a50d-440b-941c-401ff3ffe2f8,1,12,6050.0,420,270,4,0.0,11.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148706,3.077245e+18,6.648451e+07,2015-06-22,android,1505081744,1,182.250.243.198,JP,Chiba,Kamogawa,35.1140,140.09900,+09:00,4.4.2,Sony SOL23,ja,14329537751860,1b73ea56-300a-4617-b424-0f8835a52f60,26,30,714281.0,3153082,180734,65,34.0,126.0,21.0,59.0,17.0,10.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,23.0
148707,3.073213e+18,3.969208e+07,2015-06-22,android,1505081744,1,182.250.253.39,JP,Hyogo,Sanda,34.8830,135.23300,+09:00,4.4.2,LGE LGL24,ja,14310765310818,f422ff0c-671f-4fc2-9f1f-7efbe4a1b324,37,66,8399085.0,13418292,386527,16,75.0,848.0,67.0,782.0,62.0,60.0,4.0,7.0,2.0,2.0,3.0,2.0,0.0,1.0,61.0
148708,3.079474e+18,9.556804e+07,2015-06-22,android,1505081744,1,125.15.55.245,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,4.4.4,samsung SC-01G,ja,14339918967820,e7347e3f-dc69-456e-a5cf-efbfef36e57f,16,100,355050.0,805839,68586,25,7.0,222.0,2.0,53.0,5.0,8.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
148709,3.080020e+18,2.299642e+07,2015-06-22,android,1505081744,1,182.250.251.38,JP,Oita,Yufu,33.1830,131.43300,+09:00,5.0,samsung SCL23,ja,14342459735799,c73b41eb-2980-44f5-9660-d9859168f951,7,101,57260.0,37658,9320,29,0.0,31.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148710,3.073213e+18,9.869220e+07,2015-06-22,android,1505081746,1,106.156.201.168,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,4.2.2,asus ME173X,ja,14310762806950,b683f69e-4c37-49c6-99f3-24c732a0c116,31,65,3574668.0,3012780,267931,200,15.0,677.0,4.0,35.0,10.0,8.0,3.0,76.0,1.0,0.0,3.0,0.0,0.0,3.0,2.0
148711,3.074174e+18,6.459901e+07,2015-06-22,android,1505081744,1,49.97.55.203,JP,Nagano,Saku,36.2500,138.48300,+09:00,4.2.2,SHARP SH-06E,ja,14315237124960,c79d32df-8ba9-4e87-b86c-196de29e48d7,16,178,1507825.0,556946,64697,45,15.0,164.0,12.0,274.0,9.0,14.0,0.0,10.0,0.0,1.0,0.0,0.0,0.0,3.0,10.0
148712,3.073213e+18,3.969208e+07,2015-06-22,android,1505081744,1,182.250.253.39,JP,Hyogo,Sanda,34.8830,135.23300,+09:00,4.4.2,LGE LGL24,ja,14310765310818,f422ff0c-671f-4fc2-9f1f-7efbe4a1b324,37,66,8399085.0,13465246,386527,35,75.0,848.0,67.0,782.0,62.0,60.0,4.0,7.0,2.0,2.0,3.0,2.0,0.0,1.0,61.0
148713,3.079474e+18,9.556804e+07,2015-06-22,android,1505081744,1,125.15.55.245,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,4.4.4,samsung SC-01G,ja,14339918967820,e7347e3f-dc69-456e-a5cf-efbfef36e57f,17,19,440040.0,850649,72476,17,8.0,233.0,2.0,61.0,5.0,8.0,1.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
148714,3.076734e+18,1.564032e+07,2015-06-22,android,1505081744,1,126.186.164.213,JP,Kanagawa,Yokohama,35.4442,139.63800,+09:00,4.2.2,SHARP SBM303SH,ja,14327157543094,845e0c2f-58e9-4f88-8aa3-15c9762ffec4,24,174,1668029.0,1202511,160780,33,8.0,394.0,23.0,57.0,17.0,11.0,2.0,83.0,0.0,3.0,0.0,0.0,0.0,4.0,8.0
148715,3.073279e+18,9.695558e+07,2015-06-22,android,1505081744,1,182.249.241.83,JP,Hiroshima,Kannabe,34.5333,133.38300,+09:00,5.0,samsung SCL23,ja,14311072828090,9ddfbf54-db95-4116-bc12-7757bc4f8aa6,24,126,2319116.0,2857650,161780,33,16.0,115.0,19.0,166.0,14.0,17.0,0.0,9.0,2.0,0.0,0.0,1.0,0.0,0.0,8.0
148716,3.073220e+18,6.139901e+07,2015-06-22,android,1505081744,1,182.249.244.165,JP,Hyogo,Kobe,34.6900,135.19600,+09:00,4.2.2,SHARP SHL22,ja,14310794157768,7b78d298-82eb-47c1-b762-7e9a268ed4a2,44,10,19255685.0,12575043,571405,53,111.0,656.0,123.0,60.0,56.0,67.0,4.0,82.0,6.0,10.0,10.0,6.0,0.0,5.0,76.0
148717,3.073257e+18,3.329712e+06,2015-06-22,android,1505081744,1,124.100.28.121,JP,Saitama,Saitama,35.8670,139.65000,+09:00,4.4.2,samsung SC-04F,ja,14310970308747,0e6f6c6b-497e-4075-9078-5911765a198a,12,77,750035.0,870375,31589,196,3.0,90.0,2.0,50.0,3.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
148718,3.081595e+18,1.844871e+07,2015-06-22,android,1505081746,1,213.233.64.178,RO,Bucuresti,Bucharest,44.4323,26.10630,+03:00,4.2.2,LENOVO Vodafone Smart Tab III 10,ro,14349797013519,bda5fb6e-ff57-4c86-8ab2-37f3765fe256,1,12,6050.0,420,270,4,0.0,11.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148719,3.074920e+18,9.010235e+07,2015-06-22,android,1505081744,1,106.159.176.30,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,4.4.2,Sony SOL23,ja,14318711240300,1eb9e981-fd00-4225-9af1-f27cbc670064,15,24,242409.0,392525,56091,44,1.0,135.0,0.0,9.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
148720,3.076734e+18,1.564032e+07,2015-06-22,android,1505081744,1,126.186.164.213,JP,Kanagawa,Yokohama,35.4442,139.63800,+09:00,4.2.2,SHARP SBM303SH,ja,14327157543094,845e0c2f-58e9-4f88-8aa3-15c9762ffec4,24,174,1989343.0,1236361,161460,16,13.0,394.0,23.0,57.0,17.0,11.0,2.0,83.0,0.0,3.0,0.0,0.0,0.0,4.0,8.0
148721,3.079361e+18,5.361694e+07,2015-06-22,android,1505081744,1,42.145.156.16,JP,Kanagawa,Fujisawa,35.3500,139.46700,+09:00,4.4.2,samsung SCL22,ja,14339392068475,c5439ac4-fc70-425c-bbb0-ae34caed5379,8,5,89484.0,61325,12295,54,0.0,27.0,0.0,8.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
148722,3.075601e+18,1.572016e+07,2015-06-22,android,1505081744,1,182.250.248.200,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,4.4.2,Sony SOL23,ja,14321882870608,ba187d18-4d95-4e38-ace4-2961aaf8ffd3,10,34,227797.0,35446,24445,69,6.0,61.0,3.0,92.0,7.0,10.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0
148723,3.074897e+18,9.805800e+07,2015-06-22,android,1505081744,1,182.250.243.43,JP,Chiba,Kamogawa,35.1140,140.09900,+09:00,4.4.2,KYOCERA KYY23,ja,14348419415487,20e0b147-fc49-4e9a-990f-271ff500606e,33,203,13615502.0,7799207,309786,42,52.0,414.0,45.0,92.0,55.0,49.0,4.0,30.0,1.0,1.0,2.0,0.0,0.0,3.0,51.0

In [59]:
df_ses['datetime']

0        2014-11-26
1        2014-11-26
2        2014-11-26
3        2014-11-26
4        2014-11-26
5        2014-11-26
6        2014-11-26
7        2014-11-26
8        2014-11-27
9        2014-11-27
10       2014-11-27
11       2014-11-27
12       2014-11-27
13       2014-11-27
14       2014-11-27
15       2014-11-27
16       2014-11-28
17       2014-11-28
18       2014-11-28
19       2014-11-28
20       2014-11-28
21       2014-11-28
22       2014-11-28
23       2014-12-01
24       2014-12-02
25       2014-12-02
26       2014-12-02
27       2014-12-02
28       2014-12-03
29       2014-12-04
            ...
148694   2015-06-22
148695   2015-06-22
148696   2015-06-22
148697   2015-06-22
148698   2015-06-22
148699   2015-06-22
148700   2015-06-22
148701   2015-06-22
148702   2015-06-22
148703   2015-06-22
148704   2015-06-22
148705   2015-06-22
148706   2015-06-22
148707   2015-06-22
148708   2015-06-22
148709   2015-06-22
148710   2015-06-22
148711   2015-06-22
148712   2015-06-22
148713   2015-06-22
148714   2015-06-22
148715   2015-06-22
148716   2015-06-22
148717   2015-06-22
148718   2015-06-22
148719   2015-06-22
148720   2015-06-22
148721   2015-06-22
148722   2015-06-22
148723   2015-06-22
Name: datetime, dtype: datetime64[ns]

In [65]:
df_user[['user_id','revenues_2w','funnel_1d']]

            user_id  revenues_2w  funnel_1d
0      3.042986e+18          NaN        NaN
1      1.234560e+05          NaN        NaN
2      3.043158e+18          NaN      201.0
3      3.043160e+18          NaN        NaN
4      3.043162e+18          NaN      201.0
5      3.043174e+18          NaN      201.0
6      3.043179e+18          NaN        NaN
7      3.043191e+18          NaN        NaN
8      3.043191e+18          NaN        NaN
9      3.043200e+18          NaN        NaN
10     3.043208e+18          NaN        NaN
11     3.043211e+18          NaN        NaN
12     3.043224e+18          NaN      201.0
13     3.043233e+18          NaN      233.0
14     3.043234e+18          NaN      233.0
15     3.043236e+18          NaN      233.0
16     3.043149e+18          NaN      233.0
17     3.043921e+18          NaN        NaN
18     3.044098e+18          NaN      233.0
19     3.044107e+18          NaN      201.0
20     3.044150e+18          NaN      233.0
21     3.044307e+18          NaN      233.0
22     3.044392e+18          NaN      233.0
23     3.044458e+18          NaN      233.0
24     3.044491e+18          NaN        NaN
25     3.044665e+18          NaN      233.0
26     3.044851e+18          NaN      233.0
27     3.045169e+18          NaN      233.0
28     3.045175e+18          NaN      233.0
29     3.045759e+18          NaN        NaN
...             ...          ...        ...
17958  3.067215e+18         6.99     5002.0
17959  3.067491e+18         3.49     5009.0
17960  3.068234e+18         0.00     5002.0
17961  3.068402e+18         6.99     5002.0
17962  3.069145e+18         3.49     5010.0
17963  3.072582e+18        13.98     5007.0
17964  3.072676e+18        10.48     5007.0
17965  3.073212e+18         4.87     5008.0
17966  3.073214e+18        23.08     5005.0
17967  3.073218e+18         4.18     5006.0
17968  3.073222e+18        26.57     5010.0
17969  3.073223e+18         3.49     5007.0
17970  3.073225e+18         6.99     5002.0
17971  3.073259e+18        16.09     5008.0
17972  3.073273e+18        16.09     5012.0
17973  3.073325e+18        16.09     5009.0
17974  3.073401e+18         6.99     5003.0
17975  3.073427e+18         6.99     5008.0
17976  3.073548e+18         0.69     5011.0
17977  3.073550e+18        16.09     5008.0
17978  3.073582e+18         6.99     5002.0
17979  3.073642e+18         3.49     5007.0
17980  3.073785e+18         6.99     5007.0
17981  3.074135e+18        16.09     5008.0
17982  3.074169e+18         6.99     5006.0
17983  3.074626e+18        39.17     5011.0
17984  3.075147e+18        32.18     5005.0
17985  3.076683e+18         0.69     5009.0
17986  3.073395e+18         3.49     5007.0
17987  3.076218e+18         0.00     5003.0

[17988 rows x 3 columns]

In [75]:
df_ses[df_ses['user_id']==1.0]

,user_id,session_id,datetime,platform,version,sample_ratio,ip_ip,ip_country,ip_region,ip_city,ip_lat,ip_lon,ip_timezone,client_mobile_os,client_mobile_device,client_mobile_language,client_mobile_uid,client_mobile_device_aid,game_basic_level,game_basic_cash,game_resources_gold,game_resources_food,game_resources_xp,game_resources_stamina,game_resources_de,game_resources_ev,game_resources_fe,game_resources_friend_points,game_resources_le,game_resources_ne,game_resources_rde,game_resources_re,game_resources_rfe,game_resources_rle,game_resources_rne,game_resources_rwe,game_resources_ssre,game_resources_sre,game_resources_we
856,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,4,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
858,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,4,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
862,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,8,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
864,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
865,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
866,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
867,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
868,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
870,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
871,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
872,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
873,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
874,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
877,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
878,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
879,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
880,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
881,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
882,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
883,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
884,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
885,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
890,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
891,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
893,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
894,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
895,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
896,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
897,1.0,26852026.0,2015-03-30,ios,999999999999,1,62.97.102.90,ES,Catalonia,Barcelona,41.3888,2.15899,+01:00,None,None,None,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120331,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120332,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120333,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120334,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120336,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120337,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120338,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120339,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120341,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120342,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120343,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120345,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120347,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120349,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120350,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120351,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120352,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120354,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120355,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120356,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120357,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120358,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120360,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120362,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120363,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120366,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120369,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120370,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120371,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120372,1.0,40933092.0,2015-04-08,ios,99999999999999,1,54.150.245.14,JP,Tokyo,Tokyo,35.6895,139.69200,+09:00,None,None,es,None,None,1,32,6050.0,420,270,10,0.0,10.0,0.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
def cohort_period(df_ses):
    """
    Creates a `CohortPeriod` column, which is the Nth period based on the user's first purchase.
    
    Example
    -------
    Say you want to get the 3rd day for every user:
        df_ses.sort(['user_id', 'OrderTime', inplace=True)
        df_ses = df_ses.groupby('user_id').apply(cohort_period)
        df_ses[df_ses.CohortPeriod == 3]
    """
    df_ses['Cohort_period'] = np.arange(len(df_ses['datetime'])) + 1
    return df_ses

In [8]:
try1 = df_ses[['user_id','session_id','datetime']].groupby(df_ses['user_id']).apply(cohort_period)

In [30]:
try2 = try1[['user_id','session_id','datetime','Cohort_period']].groupby(df_ses['datetime']).agg()

TypeError: aggregate() takes at least 2 arguments (1 given)

In [28]:
try2

            user_id  session_id  datetime  Cohort_period
datetime
2014-11-26       34          34        34             34
2014-11-27       44          44        44             44
2014-11-28       17          17        17             17
2014-11-29        3           3         3              3
2014-12-01        2           2         2              2
2014-12-02        9           9         9              9
2014-12-03        8           8         8              8
2014-12-04       17          17        17             17
2014-12-05       25          25        25             25
2014-12-06       43          43        43             43
2014-12-07       28          28        28             28
2014-12-08       26          26        26             26
2014-12-09       16          16        16             16
2014-12-10       14          14        14             14
2014-12-11       16          16        16             16
2014-12-12       12          12        12             12
2014-12-13       12          12        12             12
2014-12-14       12          12        12             12
2014-12-15        8           8         8              8
2014-12-16        8           8         8              8
2014-12-17        8           8         8              8
2014-12-18        7           7         7              7
2014-12-19        9           9         9              9
2014-12-20        4           4         4              4
2014-12-21        8           8         8              8
2014-12-22        9           9         9              9
2014-12-23        5           5         5              5
2014-12-24        5           5         5              5
2014-12-25        6           6         6              6
2014-12-26        8           8         8              8
...             ...         ...       ...            ...
2015-05-24     1389        1389      1389           1389
2015-05-25     1254        1254      1254           1254
2015-05-26     1161        1161      1161           1161
2015-05-27     1126        1126      1126           1126
2015-05-28      964         964       964            964
2015-05-29      885         885       885            885
2015-05-30      876         876       876            876
2015-05-31      910         910       910            910
2015-06-01      731         731       731            731
2015-06-02      714         714       714            714
2015-06-03      671         671       671            671
2015-06-04      590         590       590            590
2015-06-05      588         588       588            588
2015-06-06      537         537       537            537
2015-06-07      567         567       567            567
2015-06-08      556         556       556            556
2015-06-09      518         518       518            518
2015-06-10      480         480       480            480
2015-06-11      454         454       454            454
2015-06-12      454         454       454            454
2015-06-13      417         417       417            417
2015-06-14      532         532       532            532
2015-06-15      405         405       405            405
2015-06-16      432         432       432            432
2015-06-17      394         394       394            394
2015-06-18      385         385       385            385
2015-06-19      376         376       376            376
2015-06-20      421         421       421            421
2015-06-21      372         372       372            372
2015-06-22      234         234       234            234

[172 rows x 4 columns]

In [21]:
to_drop = [1.0, 2.0]
df_ses = df_ses[~df_ses['user_id'].isin(to_drop)]

In [23]:
df_user[df_user['user_id']==1.0]

,user_id,last_session_id,date_register,date_register_android,date_last_logged,platform_last_logged,date_last_logged_android,register_platform,register_ip_ip,register_ip_country,register_ip_lat,register_ip_lon,register_ip_timezone,game_current_level,game_current_cash,game_current_gold,game_current_food,game_current_xp,game_current_stamina,revenues_dollars_net,revenues_dollars_gross,revenues_num_transactions,revenues_date_first_transaction,revenues_date_first_transaction_android,revenues_1d,...,revenues_2w,revenues_4w,revenues_8w,revenues_12w,revenues_16w,funnel_last_update,funnel_current,funnel_5min,funnel_1hour,funnel_1d,user_category,register_ip_region,register_ip_city,revenues_date_first_transaction_woe,revenues_incremental_fields_last_update,register_os,register_device,register_version,register_mobile_uid,register_mobile_device_aid,client_mobile_device_aid,last_global_device_id,register_device_android,register_source,register_source_android
1018,1.0,40933092.0,2015-03-30,2015-04-02,2015-04-08,ios,2015-04-02,ios,62.97.102.90,ES,41.3888,2.15899,+01:00,1.0,32.0,6050.0,420.0,270.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,player,Catalonia,Barcelona,NaN,NaN,None,None,999999999999,None,NaN,None,NaN,NaN,NaN,NaN

In [24]:
df_ses[df_ses['user_id']==2.0]

Empty DataFrame
Columns: [user_id, session_id, datetime, platform, version, sample_ratio, ip_ip, ip_country, ip_region, ip_city, ip_lat, ip_lon, ip_timezone, client_mobile_os, client_mobile_device, client_mobile_language, client_mobile_uid, client_mobile_device_aid, game_basic_level, game_basic_cash, game_resources_gold, game_resources_food, game_resources_xp, game_resources_stamina, game_resources_de, game_resources_ev, game_resources_fe, game_resources_friend_points, game_resources_le, game_resources_ne, game_resources_rde, game_resources_re, game_resources_rfe, game_resources_rle, game_resources_rne, game_resources_rwe, game_resources_ssre, game_resources_sre, game_resources_we]
Index: []

In [108]:
df_ses['user_id'][5]

3.043005561127127e+18